<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="pex-embbeded-python.ZPM">
    <Module>
      <Name>pex-embbeded-python</Name>
      <Version>1.6.3</Version>
      <Description>Hack of PEX Python but for Embedded Python</Description>
      <Keywords>python</Keywords>
      <SystemRequirements Version=">=2021.2" Interoperability="enabled" />
      <FileCopy Name="src/python/grongier/pex" Target="${libdir}python/grongier/pex/"/>
      <FileCopy Name="src/python/grongier/dacite" Target="${libdir}python/grongier/dacite/"/>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Directory="cls" Name="Grongier.PKG"/>
    </Module>
  </Document>
</Export>
