<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="interoperability-sample.ZPM">
    <Module>
      <Name>interoperability-sample</Name>
      <Description>A simple IRIS interoperability application - reads data from Reddit and filter it.</Description>
      <Version>0.0.3</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>sslclient</Name>
          <Version>1.0.1</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Ens.Config.DefaultSettings.ESD"/>
      <Resource Name="TestLookupTable.LUT"/>
      <Resource Name="dc.Reddit.PKG"/>
      <Resource Name="dc.Demo.PKG"/>
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>
