<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="pex-embbeded-python.ZPM">
    <Module>
      <Name>pex-embbeded-python</Name>
      <Version>2.3.12</Version>
      <Description>Hack of PEX Python but for Embedded Python</Description>
      <Keywords>python</Keywords>
      <SystemRequirements Interoperability="enabled" />
      <Packaging>module</Packaging>
      <SourcesRoot>src/grongier/cls</SourcesRoot>
      <Resource Name="Grongier.PKG"/>
      <SystemRequirements Version=">=2021.2" Interoperability="enabled" />
    </Module>
  </Document>
</Export>
