pytest
pytest-asyncio
xmltodict
requests
dataclasses-json
wheel
twine
iris-embedded-python-wrapper
jsonpath-ng
pydantic>=2.0.0
mkdocs
pymdown-extensions
debugpy
openai
https://github.com/intersystems-community/intersystems-irispython/releases/download/3.9.3/intersystems_iris-3.9.3-py3-none-any.whl

