pytest
dacite
xmltodict
intersystems_iris @ https://github.com/intersystems-community/intersystems-irispython/releases/download/3.8.0/intersystems_iris-3.8.0-py3-none-any.whl
requests
dataclasses-json
wheel
twine
iris-embedded-python-wrapper
dc-schema